<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Site</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="shopping-site">
    <div class="banner">
      <img src="../static/images/公仔網頁-2.png" alt="Banner">
    </div>
    <div class="catalog">
      <div class="catalog-container">
        <img src="../static/images/公仔網頁-1.png" alt="Product Catalog">
      </div>
    </div>
  </div>
  <script src="../static/js/script.js"></script>
</body>
</html>
